<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.phonegap.plugins.phonedialer" version="0.2.0">
    <name>PhoneDialer</name>
    <description>Cordova Phone Dialer</description>
    <license>Apache 2.0</license>
    <keywords>cordova,phonegap,dialer</keywords>
    <js-module src="www/phonedialer.js" name="phonedialer">
        <clobbers target="phonedialer" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PhoneDialer">
                <param name="ios-package" value="PhoneDialer"/>
            </feature>
        </config-file>
        <header-file src="src/ios/PhoneDialer.h" />
        <source-file src="src/ios/PhoneDialer.m" />
    </platform>
</plugin>